* {
    box-sizing: border-box;
}

.container {
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: 3px solid #000000
}
input {
    width: 30%;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    padding: 10px 15px;
    font-size: 1.1rem;
}
button {
    width: 20%;
    padding: 10px 15px;
    border: none;
    /* box-shadow: none; */
}

.players {
    width: 32%;
}

.player {
    display: flex;
    justify-content: space-between;
}

.text, .error {
    color: red;
}

.result {
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    /* margin: 0 auto; */
    padding: 20px 40px;
    justify-content: center;
    align-items: flex-start;
    border: 3px solid #000000;
    margin-bottom: 20px;
}

.result-label {
    font-size: 1.5rem;
    color: darkgreen;
}

.entered {
    color: green;
}